/** @format */

.hero h1 {
    margin-top: 25px;
    background-color: aqua;
    text-align: center;
}

.hero h4 {
    text-align: center;
    margin-top: 75px;
}
.navbar-nav {
    align-items: end;
}

.contentSection {
    width: 100%;
    top: 0;
    left: 0;
}

.icon {
    width: 70%;
    display: flex;
    align-items: center;
}

.iconInterno {
    width: 60%;
}

.card {
    border: none;
    border-radius: 10%;
    padding: 10px;
}

.card img {
    display: flex;
    align-items: center;
}

.card-img-top {
    height: 60%;
}

.contentCard {
    text-align: center;
    border: 2px solid rgb(10, 5, 243);
    position: relative;
    background-color: white;
    margin-top: -100px;
    border-radius: 20%;
    padding: 10px;
    width: 70%;
}

.card-body {
    display: flex;
    justify-content: center;
}

.referencias .card img {
    height: 100%;
}

.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proceso {
    background-color: rgb(237, 251, 253);
    margin-bottom: 40px;
}

.col {
    margin-bottom: 20px;
}

.avanceProceso {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.textAvanceProceso {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(10, 5, 243);
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textAvanceProceso {
    color: white;
    font-size: 60px;
}

.tituloProceso {
    color: rgb(10, 5, 243);
    display: flex;
    justify-content: center;
}

.tituloCard {
    color: rgb(10, 5, 243);
}

.videoIframe {
    width: 100%;
    height: 500px; /* Establece una altura inicial de 500px */
    overflow: hidden; /* Puedes mantener overflow en "hidden" si lo prefieres */
}
@media (min-width: 576px) {
    .videoConocenos {
        height: 600px; /* Ajusta la altura para pantallas con un ancho mínimo de 576px */
    }
}
@media (min-width: 768px) {
    .videoConocenos {
        height: 700px; /* Ajusta la altura para pantallas con un ancho mínimo de 768px */
    }
}
@media (min-width: 992px) {
    .videoConocenos {
        height: 800px; /* Ajusta la altura para pantallas con un ancho mínimo de 992px */
    }
}
@media (min-width: 1200px) {
    .videoConocenos {
        height: 900px; /* Ajusta la altura para pantallas con un ancho mínimo de 1200px */
    }
}
@media (min-width: 1400px) {
    .videoConocenos {
        height: 1000px; /* Ajusta la altura para pantallas con un ancho mínimo de 1400px */
    }
}

.container {
    max-width: 960px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-header img {
    width: 100%;
    height: auto;
}

.img-fluid rounded-start {
    width: 100%;
    height: 200px;
}

.botonWhatsApp {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #29de29;
    bottom: 20px;
    right: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonWhatsApp img {
    width: 80%;
}
